.breadcrumbs {
    background-color: rgb(255 103 56 / 11%);
    padding: 24px 0 24px;
    margin-bottom: 60px;

    &__list {
        display: flex;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 5px;

            .breadcrumbs__link{
                &::after {
                    content: '';
                    display: block;
                    width: 6px;
                    height: 10px;
                    background-image: url('../images/icons/breadcrumbs/arrow.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        line-height: 1.2;
        color: #505050;
        outline: 1px solid transparent;
        border-radius: 5px;
        transition: color 0.5s, outline-color 0.5s, text-shadow 0.5s;

        &:hover {
            color: $accent;
        }

        &:focus {
            outline-color: $accent;
        }

        &:active {
            text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.50);
        }
    }
}