.catalog {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 60px;
    }

    &__select {
        display: flex;
    }

    &__inner {
        display: flex;
    }

    &__aside {
        margin-right: 15px;
        flex-grow: 1;
    }

    &__content {
        text-align: center;
        flex-basis: 75%;
    }

    &__content-list {
        grid-template-columns: repeat(4, 1fr);
    }

    &__footer{
       background-color: #363853;
       color: #fff;
    }
}



