.content {
    padding: 120px 0 120px;

&__inner {
    background-image: url(../images/food-delivery.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% center;
    height: 585px;
    display: flex;
    align-items: center;
}

&__box {
    max-width: 470px;
    width: 100%;
    margin-left: auto;
}

&__title {
    text-align: left;
    margin-bottom: 30px;
}

&__subtitle {
    display: block;
}

&__text {
    font-size: 20px;
    margin-bottom: 30px;
}

&__list{
    margin-bottom: 30px;
}

&__item {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

&__link {
    display: flex;
    align-items: center;
}

&__icon {
    margin-right: 30px;
}

&__icon--oragen{
    fill: #ff6838;
}

&__icon--blue{
    fill: #00AAFF;
}

&__icon--red{
   fill: #FF2222;
}
}