<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="menu">
                <a class="logo" href="#">
                    <img class="logo__img" src="images/logo.svg" alt="лого" width="200" height="40">
                </a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Головна
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Страви
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">
                            Контакти
                        </a>
                    </li>
                </ul>
                <div class="backdrop">
                    <div class="mobile-menu">
                        <a class="logo mobile-menu__logo" href="#">
                            <img class="logo__img" src="images/logo.svg" alt="лого" width="200" height="40">
                        </a>
                        <ul class="mobile-menu__list">
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="#">
                                    Головна
                                </a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="#">
                                    Страви
                                </a>
                            </li>
                            <li class="mobile-menu__item">
                                <a class="mobile-menu__link" href="#">
                                    Контакти
                                </a>
                            </li>
                        </ul>
                        <address class="address">
                            <ul class="address__list">
                                <li class="address__item">
                                    <a class="address__link" href="#">
                                        <svg class="address__icon" width="22" height="22">
                                            <use href="images/icons/sprite.svg#icon-location"></use>
                                        </svg>
                                        вул. Т.Г.Шевченка, 1
                                    </a>
                                </li>
                                <li class="address__item">
                                    <a class="address__link" href="tel:380501112233">
                                        <svg class="address__icon" width="22" height="22">
                                            <use href="images/icons/sprite.svg#icon-phone"></use>
                                        </svg>
                                        380501112233
                                    </a>
                                </li>
                                <li class="address__item">
                                    <a class="address__link" href="mailto:support@sfoodcom">
                                        <svg class="address__icon" width="22" height="22">
                                            <use href="images/icons/sprite.svg#icon-message"></use>
                                        </svg>
                                        support@sfood.com
                                    </a>
                                </li>
                            </ul>
                            <ul class="social">
                                <li class="social__item">
                                    <a class="social__link" href="#">
                                        <svg class="social__icon" width="20px" height="20px">
                                            <use href="images/icons/sprite.svg#icon-facebook"></use>
                                        </svg>
                                        <span class="sr-only">фейсбук</span>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a class="social__link" href="#">
                                        <svg class="social__icon" width="20px" height="20px">
                                            <use href="images/icons/sprite.svg#icon-twitter"></use>
                                        </svg>
                                        <span class="sr-only">твіттер</span>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a class="social__link" href="#">
                                        <svg class="social__icon" width="20" height="20">
                                            <use href="images/icons/sprite.svg#icon-instagram"></use>
                                        </svg>
                                        <span class="sr-only">інстаграм</span>
                                    </a>
                                </li>
                            </ul>
                        </address>
                        <button class="close-button  mobile-menu__close-button" type="button">
                            <span class="sr-only">кнопка закриття</span>
                        </button>
                    </div>
                </div>
            </nav>
            <div class="user-nav">
                <button class="user-nav__btn" type="button">
                    <svg class="user-nav__btn-icon" width="18" height="18">
                        <use href="images/icons/sprite.svg#icon-search"></use>
                    </svg>
                    <span class="sr-only">пошук</span>
                </button>
                <button class="user-nav__btn" type="button">
                    <svg class="user-nav__btn-icon" width="18" height="18">
                        <use href="images/icons/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="user-nav__num">4</span>
                    <span class="sr-only">прийти до кошику</span>
                </button>
            </div>
            <button class="header__btn" type="button">
                <span class="sr-only">кнопка відкриття</span>
                <span class="header__btn-line"></span>
            </button>
        </div>
    </div>
</header>