<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__box">
                <h2 class="hero__title">
                    Доставка
                    <span class="hero__subtitle">
                        за 15 ХВИЛИН
                    </span>
                </h2>
                <p class="hero__text">
                    Найшвидший сервіс доставки їжі у вашому
                    місті. Якщо запізнемось - то доставка за наш рахунок
                </p>
                <div class="hero__bottom">
                    <a class="button button--big" href="#">
                        Замовити
                    </a>
                    <a class="hero__link" href="#">
                        Детальніше
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>