<section class="stock">
    <div class="container">
        <h2 class="title stock__title">Акції та знижки</h2>
        <ul class="stock__list">
            <li class="stock__item">
                <article class="stock__card">
                    <a class="stock__card-link" href="#">
                        <img class="stock__card-img" src="images/restaurants/pizza.jpg" alt="блейз піца" width="370"
                            height="300">
                        <h3 class="stock__card-title">
                            Знижка на другу піцу
                        </h3>
                    </a>
                </article>
            </li>
            <li class="stock__item">
                <article class="stock__card">
                    <a class="stock__card-link" href="#">
                        <img class="stock__card-img" src="images/restaurants/french-fries.jpg" alt="картопля фрі з кфс"
                            width="370" height="300">
                        <h3 class="stock__card-title">
                            Картопелька з KFC задарма при замовленні бургера
                        </h3>
                    </a>
                </article>
            </li>
            <li class="stock__item">
                <article class="stock__card">
                    <a class="stock__card-link" href="#">
                        <img class="stock__card-img" src="images/restaurants/burger2.jpg" alt="чорний бургер"
                            width="370" height="300">
                        <h3 class="stock__card-title">
                            Чорні бургери на чорний день
                        </h3>
                    </a>
                </article>
            </li>
        </ul>
    </div>
</section>