<section class="advantages">
    <div class="container">
        <div class="advantages__inner">
            <div class="advantages__box">
                <h2 class=" title advantages__title">
                    Залишайтеся вдома, а ми
                    <span class="advantages__subtitle">
                        потурбуємося про їжу
                    </span>
                </h2>
                <p class="advantages__text">
                    У нас є смачна їжа і ми готові доставити її до вас додому! Скористайтеся нашою доставкою
                    прямо зараз та отримайте знижку!
                </p>
                <ul class="advantages__list">
                    <li class="advantages__item advantages__item--stopwatch">
                        Швидка доставка за 15 хвилин
                    </li>
                    <li class="advantages__item advantages__item--delivery">
                        Чемні кур’єри
                    </li>
                    <li class="advantages__item advantages__item--shop">
                        Більше 500 закладів
                    </li>
                </ul>
                <a class="button button--big" href="#">
                    Детальніше
                </a>
            </div>
        </div>
    </div>
</section>