<section class="categories">
    <div class="container">
        <h2 class="title categories__title">
            Популярне в категоріях
        </h2>
        <ul class="categories__list">
            <li class="categories__item">
                <button class="categories__btn" type="button" data-filter="all">
                    <svg class="categories__icon" width="44" height="44">
                        <use href="images/icons/sprite.svg#icon-burger"></use>
                    </svg>
                    Бургери
                </button>
            </li>
            <li class="categories__item">
                <button class="categories__btn" type="button" data-filter=".category-a">
                    <svg class="categories__icon" width="44" height="44">
                        <use href="images/icons/sprite.svg#icon-pizza"></use>
                    </svg>
                    Піца
                </button>
            </li>
            <li class="categories__item">
                <button class="categories__btn" type="button" data-filter=".category-d">
                    <svg class="categories__icon" width="44" height="44">
                        <use href="images/icons/sprite.svg#icon-sandvich"></use>
                    </svg>
                    Сендвічі
                </button>
            </li>
            <li class="categories__item">
                <button class="categories__btn" type="button" data-filter=".category-b">
                    <svg class="categories__icon" width="44" height="44">
                        <use href="images/icons/sprite.svg#icon-christmas-dinner"></use>
                    </svg>
                    Азійська кухня
                </button>
            </li>
            <li class="categories__item">
                <button class="categories__btn" type="button" data-filter=".category-c">
                    <svg class="categories__icon" width="44" height="44">
                        <use href="images/icons/sprite.svg#icon-category-dish"></use>
                    </svg>
                    Cети
                </button>
            </li>
        </ul>
        <ul class="grid">
            <li class="grid__item mix category-a">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger1.jpg"
                            alt=" Чізбургер з листям салату" width="140" height="140">
                        <h3 class="product-card__title">
                            Чізбургер з листям салату
                        </h3>
                        <span class="product-card__price">
                            160
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
            <li class="grid__item mix category-a">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger2.jpg" alt="Біфбургер"
                            width="140" height="140">
                        <h3 class="product-card__title">
                            Біфбургер
                        </h3>
                        <span class="product-card__price">
                            190
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
            <li class="grid__item mix mix category-b">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger3.jpg"
                            alt="Королівський чізбургер" width="140" height="140">
                        <h3 class="product-card__title">
                            Королівський чізбургер
                        </h3>
                        <span class="product-card__price">
                            260
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
            <li class="grid__item mix category-d">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger4.jpg" alt="  Чорний гамбургер"
                            width="140" height="140">
                        <h3 class="product-card__title">
                            Чорний гамбургер
                        </h3>
                        <span class="product-card__price">
                            199
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
            <li class="grid__item mix category-b">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger5.jpg" alt="Чікен бургер"
                            width="140" height="140">
                        <h3 class="product-card__title">
                            Чікен бургер
                        </h3>
                        <span class="product-card__price">
                            180
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
            <li class="grid__item mix category-с">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger1.jpg"
                            alt="Чізбургер з листям салату" width="140" height="140">
                        <h3 class="product-card__title">
                            Чізбургер з листям салату
                        </h3>
                        <span class="product-card__price">
                            160
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
            <li class="grid__item mix category-a">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger2.jpg" alt="Біфбургер"
                            width="140" height="140">
                        <h3 class="product-card__title">
                            Біфбургер
                        </h3>
                        <span class="product-card__price">
                            190
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
            <li class="grid__item mix category-a">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger3.jpg"
                            alt="Королівський чізбургер" width="140" height="140">
                        <h3 class="product-card__title">
                            Королівський чізбургер
                        </h3>
                        <span class="product-card__price">
                            260
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
            <li class="grid__item mix category-c">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger4.jpg" alt="Чорний гамбургер"
                            width="140" height="140">
                        <h3 class="product-card__title">
                            Чорний гамбургер
                        </h3>
                        <span class="product-card__price">
                            199
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
            <li class="grid__item mix category-c">
                <article class="product-card">
                    <a class="product-card__link" href="#">
                        <img class="product-card__img" src="images/burger/burger5.jpg" alt="Чікен бургер"
                            width="140" height="140">
                        <h3 class="product-card__title">
                            Чікен бургер
                        </h3>
                        <span class="product-card__price">
                            180
                            <span class="currency">
                                грн.
                            </span>
                        </span>
                    </a>
                    <button class="button" type="button">
                        До кошика
                    </button>
                </article>
            </li>
        </ul>
        <a class="categories__link">
            Показати ще
        </a>
    </div>
</section>