<section class="categories">
    <div class="container">
        <h2 class="title categories__title">
            Популярне в категоріях
        </h2>
        <ul class="grid">
            <li class="grid__item mix category-a">
                @@include('../components/product-card.html', {
                "productNames": "Чізбургер з листям салату",
                "productCost" : "160",
                "imgName" : "burger1",
                "productAlt" : "Чізбургер з листям салату"
                })
            </li>
            <li class="grid__item mix category-a">
                @@include('../components/product-card.html', {
                "productNames": "Біфбургер",
                "productCost": "190",
                "imgName": "burger2",
                "productAlt": "Біфбургер"
                })
            </li>
            <li class="grid__item mix mix category-b">
                @@include('../components/product-card.html', {
                "productNames": " Королівський чізбургер",
                "productCost": "260",
                "imgName": "burger3",
                "productAlt": "Королівський чізбургер"
                })
            </li>
            <li class="grid__item mix category-d">
                @@include('../components/product-card.html', {
                "productNames": "Чорний гамбургер",
                "productCost": "199",
                "imgName": "burger4",
                "productAlt": "Чорний гамбургер"
                })
            </li>
            <li class="grid__item mix category-b">
                @@include('../components/product-card.html', {
                "productNames": "Чікен бургер",
                "productCost": "180",
                "imgName": "burger5",
                "productAlt": "Чорний гамбургер"
                })
            </li>
            <li class="grid__item mix category-с">
                @@include('../components/product-card.html', {
                "productNames": "Чізбургер з листям салату",
                "productCost" : "160",
                "imgName" : "burger1",
                "productAlt" : "Чізбургер з листям салату"
                })
            </li>
            <li class="grid__item mix category-a">
                @@include('../components/product-card.html', {
                "productNames": "Біфбургер",
                "productCost": "190",
                "imgName": "burger2",
                "productAlt": "Біфбургер"
                })
            </li>
            <li class="grid__item mix category-a">
                @@include('../components/product-card.html', {
                "productNames": " Королівський чізбургер",
                "productCost": "260",
                "imgName": "burger3",
                "productAlt": "Королівський чізбургер"
                })
            </li>
            <li class="grid__item mix category-c">
                @@include('../components/product-card.html', {
                "productNames": "Чорний гамбургер",
                "productCost": "199",
                "imgName": "burger4",
                "productAlt": "Чорний гамбургер"
                })
            </li>
            <li class="grid__item mix category-c">
                @@include('../components/product-card.html', {
                "productNames": "Чікен бургер",
                "productCost": "180",
                "imgName": "burger5",
                "productAlt": "Чорний гамбургер"
                })
            </li>
        </ul>
        <a class="categories__link">
            Показати ще
        </a>
    </div>
</section>