<div class="filters">
    <h3 class="filters__title">Категорії</h3>
    <ul class="filters__list">
        <li class="filters__item">
            <a class="filters__link" href="#">Бургери</a>
        </li>
        <li class="filters__item">
            <a class="filters__link" href="#">Піца</a>
        </li>
        <li class="filters__item">
            <a class="filters__link" href="#">Сендвічі</a>
        </li>
        <li class="filters__item">
            <a class="filters__link" href="#">Азійська кухня</a>
        </li>
        <li class="filters__item">
            <a class="filters__link" href="#">Сети</a>
        </li>
        <li class="filters__item">
            <a class="filters__link" href="#">Європейська кухня</a>
        </li>
        <li class="filters__item">
            <a class="filters__link" href="#">Напої</a>
        </li>
        <li class="filtersg__item">
            <a class="filters__link" href="#">Алкоголь</a>
        </li>
    </ul>
</div>
<div class="filters">
    <h3 class="filters__title">Пропозиції</h3>
    <form class="filters__form" action="#">
        <label class="filters__label" for="checkbox">
            <span class="sr-only">виберіть пропозицію</span>
            <div class="filters__box">
                <input class="filters__input" type="checkbox" id="checkbox" name="checkbox">
                <span class="filters__checkbox"></span>
            </div>
            <span class="filters__text">Зі знижкою</span>
        </label>
        <label class="filters__label" for="checkbox">
            <span class="sr-only">виберіть пропозицію</span>
            <div class="filters__box">
                <input class="filters__input" type="checkbox" id="checkbox" name="checkbox">
                <span class="filters__checkbox"></span>
            </div>
            <span class="filters__text">Новинка</span>
        </label>
        <label class="filters__label" for="checkbox">
            <span class="sr-only">виберіть пропозицію</span>
            <div class="filters__box">
                <input class="filters__input" type="checkbox" id="checkbox" name="checkbox">
                <span class="filters__checkbox"></span>
            </div>
            <span class="filters__text">Хіт сезону</span>
        </label>
    </form>
</div>
<div class="filters">
    <h3 class="filters__title">Ціна</h3>
    <form class="filters__form" action="#">
        <label class="filters__box-label">
            <span class="sr-only">напишіть ціну</span>
            <span class="filters__box-text">від</span>
            <input class="filters__box-input filters__box-input--from" value="100">
            <span class="filters__box-text">до</span>
            <input class="filters__box-input filters__box-input--to" value="1000">
        </label>
        <label class="filters__price-label">
            <span class="sr-only">потягніть повзунок</span>
            <input class="filters__price-input" data-min="100" data-max="1000" data-form="200"
                data-to="500">
        </label>
    </form>
</div>