<section class="mobile-app">
    <div class="container">
        <div class="mobile-app__inner">
            <div class="mobile-app__box">
                <h2 class="title mobile-app__title">
                    Завантажте мобільний
                    застосунок
                </h2>
                <p class="mobile-app__text">
                    Ресторани, які ви любите - у ваших руках. Встановлюйте застосунок та замовляйте їжу в
                    зручному місці в зручний час
                </p>
                <div class="mobile-app__bottom">
                    <a class="mobile-app__link mobile-app__link--apple" href="#"
                        style="background-image: url(images/icons/mobile-app/app-store.svg);">
                        <span class="sr-only">
                            скачати в епл стор
                        </span>
                    </a>
                    <a class="mobile-app__link mobile-app__link--google" href="#"
                        style="background-image: url(images/icons/mobile-app/google-play.svg);">
                        <span class="sr-only">
                            скачати в гугл плей
                        </span>
                    </a>
                </div>
            </div>
            <img class="mobile-app__img" src="images/app.jpg" alt=" завтракает и телефон" width="570"
                height="380">
        </div>
    </div>
</section>