<div class="pagination">
    <a class="pagination__arrow-link pagination__arrow-link--prev disabled" href="#">
        <span class="sr-only">стрілка вліво</span>
        <svg class="pagination__icon disabled" width="11" height="18">
            <use href="images/icons/sprite.svg#icon-arrow-left2"></use>
        </svg>
    </a>
    <ul class="pagination__list">
        <li class="pagination__item active">
            <span class="pagination__link current">1</span>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
        </li>
        <li class="pagination__item">
            <span class="pagination__link" href="#">...</span>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">9</a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="#">10</a>
        </li>
    </ul>
    <a class="pagination__arrow-link pagination__arrow-link--next">
        <span class="sr-only">стрілка вправо</span>
        <svg class="pagination__icon pagination__icon--right" width="11" height="18">
            <use href="images/icons/sprite.svg#icon-arrow-left2"></use>
        </svg>
    </a>
</div>