<article class="product-card">
    <a class="product-card__link" href="#">
        <img class="product-card__img" src="images/burger/burger1.jpg" alt=" Чізбургер з листям салату" width="140"
            height="140">
        <h3 class="product-card__title">
            @productNames
        </h3>
        <span class="product-card__price">
            160
            <span class="currency">
                грн.
            </span>
        </span>
    </a>
    <button class="button" type="button">
        До кошика
    </button>
</article>
