<section class="catalog">
    <div class="container">
        <div class="catalog__top">
            <h2 class="title">
                Каталог продуктів
            </h2>
            <div class="catalog__select">
                <div class="dropdown dropdown--names">
                    <button class="dropdown__select selectNamesBtn" type="button">
                        <span class="dropdown__selected">За назвою</span>
                        <svg class="dropdown__icon" width="10" height="10">
                            <use href="images/icons/sprite.svg#icon-arrow-bottom"></use>
                        </svg>
                    </button>
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                Бургери
                            </button>
                        </li>
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                Піца
                            </button>
                        </li>
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                Сендвічі
                            </button>
                        </li>
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                Азійська кухня
                            </button>
                        </li>
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                Сети
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="dropdown dropdown--numbers">
                    <button class="dropdown__select selectNumbersBtn" type="button">
                        <span class="dropdown__selected">по 12</span>
                        <svg class="dropdown__icon" width="10" height="10">
                            <use href="images/icons/sprite.svg#icon-arrow-bottom"></use>
                        </svg>
                    </button>
                    <ul class="dropdown__list">
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                по 12
                            </button>
                        </li>
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                по 11
                            </button>
                        </li>
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                по 10
                            </button>
                        </li>
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                по 9
                            </button>
                        </li>
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                по 8
                            </button>
                        </li>
                        <li class="dropdown__item">
                            <button class="dropdown__btn" type="button">
                                по 7
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="catalog__inner">
            <div class="catalog__info">
                @include('../components/filters.html')
            </div>
            <div class="catalog__content">
                <ul class="grid grid--4fr">
                    <li class="grid__item mix category-a">
                        @include('../components/product-card.html' , {
                            "@productNames": "Чізбургер з листям салату"
                        })
                    </li>
                    <li class="grid__item mix category-a">
                        @include('../components/product-card.html' , {
                            "@productNames": "Біфбургер"
                        })
                    </li>
                    <li class="grid__item mix mix category-b">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger3.jpg"
                                    alt="Королівський чізбургер" width="140" height="140">
                                <h3 class="product-card__title">
                                    Королівський чізбургер
                                </h3>
                                <span class="product-card__price">
                                    260
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                    <li class="grid__item mix category-d">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger4.jpg" alt="  Чорний гамбургер"
                                    width="140" height="140">
                                <h3 class="product-card__title">
                                    Чорний гамбургер
                                </h3>
                                <span class="product-card__price">
                                    199
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                    <li class="grid__item mix category-b">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger5.jpg" alt="Чікен бургер"
                                    width="140" height="140">
                                <h3 class="product-card__title">
                                    Чікен бургер
                                </h3>
                                <span class="product-card__price">
                                    180
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                    <li class="grid__item mix category-с">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger1.jpg"
                                    alt="Чізбургер з листям салату" width="140" height="140">
                                <h3 class="product-card__title">
                                    Чізбургер з листям салату
                                </h3>
                                <span class="product-card__price">
                                    160
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                    <li class="grid__item mix category-a">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger2.jpg" alt="Біфбургер"
                                    width="140" height="140">
                                <h3 class="product-card__title">
                                    Біфбургер
                                </h3>
                                <span class="product-card__price">
                                    190
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                    <li class="grid__item mix category-a">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger3.jpg"
                                    alt="Королівський чізбургер" width="140" height="140">
                                <h3 class="product-card__title">
                                    Королівський чізбургер
                                </h3>
                                <span class="product-card__price">
                                    260
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                    <li class="grid__item mix category-c">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger4.jpg" alt="Чорний гамбургер"
                                    width="140" height="140">
                                <h3 class="product-card__title">
                                    Чорний гамбургер
                                </h3>
                                <span class="product-card__price">
                                    199
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                    <li class="grid__item mix category-c">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger5.jpg" alt="Чікен бургер"
                                    width="140" height="140">
                                <h3 class="product-card__title">
                                    Чікен бургер
                                </h3>
                                <span class="product-card__price">
                                    180
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                    <li class="grid__item mix mix category-b">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger3.jpg"
                                    alt="Королівський чізбургер" width="140" height="140">
                                <h3 class="product-card__title">
                                    Королівський чізбургер
                                </h3>
                                <span class="product-card__price">
                                    260
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                    <li class="grid__item mix category-d">
                        <article class="product-card">
                            <a class="product-card__link" href="#">
                                <img class="product-card__img" src="images/burger/burger4.jpg" alt="  Чорний гамбургер"
                                    width="140" height="140">
                                <h3 class="product-card__title">
                                    Чорний гамбургер
                                </h3>
                                <span class="product-card__price">
                                    199
                                    <span class="currency">
                                        грн.
                                    </span>
                                </span>
                            </a>
                            <button class="button" type="button">
                                До кошика
                            </button>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
        @include('../components/pagination.html')
    </div>
</section>