<article class="product-card">
    <a class="product-card__link" href="#">
        <img class="product-card__img" src="images/burger/@@imgName.jpg" alt="@@productAlt" width="140"
            height="140">
        <h3 class="product-card__title">
            @@productNames
        </h3>
        <span class="product-card__price">
            @@productCost
            <span class="currency">
                грн.
            </span>
        </span>
    </a>
    <button class="button" type="button">
        До кошика
    </button>
</article>
